<nav class="grey darken-3">
  <div class="container">
    <div class="nav-wrapper">
      <a href="{{url_for('index')}}" class="brand-logo">Flask Stories</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          {% if current_user.is_anonymous %}
          <li class="nav-item active">
            <a href="{{url_for('auth.login')}}">Login</a>
          </li>
          {% else %}
          <li>
            <a href="{{url_for('user', username=current_user.username)}}">Profile</a>
          </li>
          <li>
            <a href="{{url_for('global_feed')}}">Global Feed</a>
          </li>
          <li>
            <a href="{{url_for('auth.logout')}}">Logout</a>
          </li>
          {% endif %}
      </ul>
    </div>
  </div>
</nav>